@import "tailwindcss";

@theme {
    --color-base: rgba(250, 250, 250, 1);
    --color-primary: rgba(100, 200, 180, 1);
    --main-font-color: rgba(30, 40, 50, 1);
    --number-color: rgba(100, 110, 120, 1);
    --red-color: rgba(230, 80, 80, 1);
    --neutral-color: rgba(180, 180, 180, 1);
}

@layer base {
    :root {
        background-color: var(--color-base);
        font-family: 'Roboto', 'sans-serif';
        color: var(--main-font-color);
        margin: 0;
        padding: 0;
    }
}

@layer components {
    .header {
        background-color: var(--color-primary);
        border-color: var(--color-base);
        @apply border-b border-b-2 py-3 px-10 text-center
    }
    .queue {
        background-color: var(--neutral-color);
        border-color: var(--color-primary);
        color: var(--main-font-color);
        @apply border border-5 rounded-lg
    }
    .button {
        @apply border border-solid rounded-lg p-1 my-1 w-full cursor-pointer hover:font-bold hover:scale-105
    }
}